<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php">
    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/DBD/MSSQL.php</file>
            <file>src/DBD/MySQL.php</file>
            <file>src/DBD/OData.php</file>
            <file>src/DBD/YellowERP.php</file>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="DBD-PHP Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
